.App {
  padding: 20px;
}

#markdownOutput {
  padding: 20px;
  height: 85vh;
  overflow-y: auto;
  border: 1px solid #dedede;
}

.download-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  padding: 10px 20px;
}

