.App {
  padding: 20px;
}

.container-fluid {
  margin-top: 20px;
}

h1 {
  color: #333;
}

textarea {
  width: 100%;
}

.download-button {
  margin-top: 20px;
}


#markdownOutput {
  padding: 20px;
  height: 70vh;
  overflow-y: auto;
  border: 1px solid #dedede;
  color: #333;
}


/* Hide class printInstructions when printing with media queries*/
@media print {
  .printInstructions {
    display: none;
  }
}